<h1>Listing kids</h1>

<table>
  <thead>
    <tr>
      <th>Teacher</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Classroom</th>
      <th>School</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @kids.each do |kid| %>
      <tr>
        <td><%= kid.teacher_id %></td>
        <td><%= kid.first_name %></td>
        <td><%= kid.last_name %></td>
        <td><%= kid.email %></td>
        <td><%= kid.classroom_id %></td>
        <td><%= kid.school_id %></td>
        <td><%= link_to 'Show', kid %></td>
        <td><%= link_to 'Edit', edit_kid_path(kid) %></td>
        <td><%= link_to 'Destroy', kid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kid', new_kid_path %>
