<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @kid.teacher_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @kid.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @kid.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @kid.email %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @kid.classroom_id %>
</p>

<p>
  <strong>School:</strong>
  <%= @kid.school_id %>
</p>

<%= link_to 'Edit', edit_kid_path(@kid) %> |
<%= link_to 'Back', kids_path %>
